.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-image: url('/bg.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 2rem;
  color: white;
  position: relative;
  grid-template-areas: 
    "leftContent rightContent"; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.leftContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  grid-area: leftContent;
}

.rightContent {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: rightContent;
}


.profileImage {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  max-width: 400px; /* Limit the maximum size */
  border-radius: 50%; /* Circular shape */
  box-shadow: 0px 4px 15px rgba(41, 225, 245, 0.761);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.profileImage:hover {
  transform: translateY(-10px); 
  box-shadow: 0px 8px 30px rgba(207, 244, 248, 0.9); 
}
.resumeButton {
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(to bottom, rgba(0, 157, 196, 0.928), rgba(43, 205, 246, 0.968));
  color: rgb(6, 6, 6);
  font-weight: bold;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  font-family: 'Fancy Font', sans-serif;
}

.resumeButton:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 8px 20px rgba(41, 225, 245, 0.761); 
}

.skillsSection {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 400;
  border: 2px solid rgb(82, 206, 244);
  align-items: center;
  background-image: url('/bg.jpeg'); /* Set the background image */
  background-attachment: fixed; /* Create the parallax effect */
  background-size: cover; /* Ensure the background covers the entire area */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Ensure the background doesn't repeat */
  padding: 5rem 0; /* Add some padding for spacing */
  color: white; /* Text color for visibility */
}

.skillsSection h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-style: italic;
  color: rgb(194, 242, 252);
}

.skillCards {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  animation: slideIn 0.5s ease-in-out;
  overflow-x: hidden;
  padding: 10px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.card {
  min-width: 150px;
  padding: 1rem;
  background: linear-gradient(to bottom, rgba(0, 157, 196, 0.928), rgba(43, 205, 246, 0.968));
  font-size: 1.2rem;
  font-family: 'Fancy Font', sans-serif;
  border-radius: 8px;
  transition: transform 0.3s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  flex-shrink: 0;
  /* margin-left: 1rem; */
}

.card:hover {
  transform: scale(1.1);
}

@media (max-width: 760px) {
  .skillCards {
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media (max-width: 360px) {
  .skillCards {
    grid-template-columns: repeat(1, 1fr); 
  }
}

.whyWebDevSection {
  background: linear-gradient(to bottom, rgba(0, 157, 196, 0.5), rgba(0, 157, 196, 0.937));
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.whyWebDevSection h2 {
  font-size: 2rem;
  color: #fffae5;
}

.whyWebDevSection p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
  color: #d1d1d1;
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-areas:
      "leftContent"
      "rightContent";
  }

  
}